<form (submit)="UpdateProduct(addproduct)" #addproduct="ngForm" class="mb-5 mt-2">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Product Name</label>
      <input type="text" class="form-control"
       id="prodname" [(ngModel)]="prodDetails.productName" required name="productName" ngModel
        placeholder="productName">
    </div>
    <div class="col-md-6 mb-3">
      <label>Catagory Id</label>
      <input type="text" class="form-control" 
      id="catId" required 
      [(ngModel)]="prodDetails.catagoryId" name="productCatagoryid" ngModel
        placeholder="CatagoryId">
    </div>
    <div class="col-md-6 mb-3">
      <label>Description</label>
      <textarea type="text" 
      class="form-control"
      [(ngModel)]="prodDetails.description"
       id="description" ngModel required name="productDescription">
      </textarea>
    </div>
    <div class="col-md-6 mb-3">
      <label>Rating</label>
      <select class="coustom-select form-control" required name="productRating" ngModel>
        <option selected value="">choose....</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label>Product color</label>
      <input type="text" class="form-control" required name="productColor" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label>Is Avaliable</label>
      <select class="form-control" required name="productIsavaliable" ngModel>
        <option selected value=""></option>
        <option>true</option>
        <option>false</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label>Product price</label>
      <input type="text" class="form-control" required name="productPrice" ngModel>
    </div>
    <div class="col-md-6">
      <label>product Review</label>
      <select class="form-control" name="productReviews" ngModel>
        <option selected value=""></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <button type="submit" class=" c,ol-lg-6 btn btn-primary form-control  mt-2">UpdateProduct</button>
</form>