<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">VMallS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" routerLink="/Home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/orders">Orders</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link"
                    data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false"
                     routerLink="/products">products</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown"  >
                        <a class="dropdown-item" *ngFor="let cat of catagortList"  routerLink="products/searchcatagory/{{cat.id}}" >{{cat.name}}
                        <div class="dropdown-divider"></div>
                        </a>
                      </div>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="products/create-product">Createproduct</a></li>
                <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
